In [1]:
import pandas as pd

In [2]:
data = {
    "Name": ["John", "Alice", "Bob", "Diana"],
    "Age": [28, 34, 23, 29],
    "Department": ["HR", "IT", "Marketing", "Finance"],
    "Salary": [45000, 60000, 35000, 50000]
}

In [3]:
df = pd.DataFrame(data)

In [4]:
print(df.head(2))

    Name  Age Department  Salary
0   John   28         HR   45000
1  Alice   34         IT   60000